:root,
:root.light {
  --color-primary: #56a1ed;
  --color-success: #5bb279;
  --color-warning: #f3b63f;

  --color-theme_bg: rgb(255, 255, 255);
  --color-theme_text: #000;
  --color-theme_text_light: #000;
}

:root.dim {
  --color-text-default: rgb(226, 232, 240);
  --color-text-primary: #f00;
  --color-bg-container: rgb(15, 23, 42);
  --color-bg-layout: rgb(30, 41, 59);
  --color-primary: #f00;

  --color-theme_bg: #15202b;
  --color-theme_text: rgb(113, 118, 123);
  --color-theme_text_light: rgb(231, 233, 234);
}

:root.drak {
  --color-text-default: rgb(226, 232, 240);
  --color-text-primary: #f00;
  --color-bg-container: rgb(15, 23, 42);
  --color-bg-layout: rgb(30, 41, 59);
  --color-primary: #f00;

  --color-theme_bg: #000;
  --color-theme_text: rgb(113, 118, 123);
  --color-theme_text_light: rgb(231, 233, 234);
}
