
@tailwind base;
@tailwind components;
@tailwind utilities;


.content{
    position: fixed;
    border-radius: 100%;
    z-index: 99;
    width: 300px;
    height: 300px;
    background-color: #f00;
}

.block_style{
    color: #f0f;
}

.block_style_wrapper{
    display: flex;
    align-items: center;
    cursor: pointer;
    padding: 0 16px;
}

.block_style_wrapper:hover{
   background-color: #0f14191A;
}

.nav_wrapper{
    display: flex;
    height: 100%;
    position: relative;
    align-items: center;
    min-width: 56px;
}

.nav_wrapper .underline{
   background-color: rgb(29, 155, 240);
   position: absolute;
   bottom: 0;
   height: 4px;
   border-radius: 8px;
   width: 100%;
}

/* .un_selected span{
    font-weight: unset !important;
} */

/* a[aria-selected="true"]{

} */