:root.light {
  .text_theme_text {
    color: #333;
  }
  .text_theme_subText {
    color: rgb(113, 118, 123);
  }
}

:root.dim,
:root.dark {
  .text_theme_text {
    color: rgb(231, 233, 234);
  }
  .text_theme_subText {
    color: rgb(113, 118, 123);
  }
}
