.block_style_wrapper {
  display: flex;
  align-items: center;
  cursor: pointer;
  position: relative;
  // padding: 0 32px;
  padding: 0 16px;
  &:hover {
    background-color: #0f14191a;
    transition: all 0.2;
  }
}

.nav_wrapper {
  display: flex;
  height: 100%;
  // position: relative;
  align-items: center;
  // min-width: 56px;
  width: max-content;
  .underline {
    background-color: transparent;
    position: absolute;
    bottom: 0;
    height: 4px;
    border-radius: 8px;
    width: 70%;
    left: 50%;
    transform: translateX(-50%);
  }
  .text {
    font-weight: 400;
    color: #f17f0b !important;
  }

  .text_theme_text {
    display: flex;
    align-items: center;
    gap: 5px;
    .icon_img {
      width: 16px;
      height: 16px;
    }
  }
}

.nav_wrapper.cardType_selected {
  .underline {
    background-color: rgb(29, 155, 240);
    visibility: visible !important;
  }
  .text {
    font-weight: 700;
    color: #f17f0b;
  }
}

.custom_links {
  color: #f17f0b;
  cursor: pointer;
  margin-left: 10px;
  display: flex;
  align-items: center;
  gap: 3px;
  text-decoration: none;
  font-size: 14px;
  &:hover {
    text-decoration: underline;
    text-decoration-color: #f17f0b;
  }
  img {
    width: 14px;
    height: 14px;
  }
}

#reload_page {
  position: relative;
  &::after {
    content: "load more";
    position: absolute;
    top: 0;
    bottom: 0;
    animation: dot 3s infinite steps(3, start);
  }
}

@keyframes dot {
  34% {
    content: "load more.";
  }
  67% {
    content: "load more..";
  }
  100% {
    content: "load more...";
  }
}

.avatar {
  width: 30px;
  height: 30px;
  border: 1px solid #fff;
  border-radius: 50%;
}

.link {
  color: rgb(29, 155, 240);
}
