.block_style_wrapper {
  display: flex;
  align-items: center;
  cursor: pointer;
  padding: 0 32px;
  &:hover {
    background-color: #0f14191a;
    transition: all 0.2;
  }
}

.nav_wrapper {
  display: flex;
  height: 100%;
  position: relative;
  align-items: center;
  min-width: 56px;
  .underline {
    background-color: transparent;
    position: absolute;
    bottom: 0;
    height: 4px;
    border-radius: 8px;
    width: 100%;
  }
  .text {
    font-weight: 400;
    color: #f17f0b !important;
  }

  .text_theme_text {
    display: flex;
    align-items: center;
    gap: 5px;
    .icon_img {
      width: 16px;
      height: 16px;
    }
  }
}

.nav_wrapper.cardType_selected {
  .underline {
    background-color: rgb(29, 155, 240);
    visibility: visible !important;
  }
  .text {
    font-weight: 700;
    color: #f17f0b;
  }
}

.custom_links {
  color: #f17f0b;
  cursor: pointer;
  margin-left: 10px;
  &:hover {
    text-decoration: #f17f0b;
  }
}
